/* styles/globals.css */

/* Text Styles */
.text-primary {
    color: #d48735; /* Blue color for primary text */
  }
  
  .text-secondary {
    color: #737373; /* Gray color for secondary text */
  }
  
  .text-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333; /* Dark gray */
    line-height: 1.3;
  }
  
  .text-body {
    font-size: 1rem;
    color: #555; /* Lighter gray for body text */
    line-height: 1.6; /* Improved readability */
  }
  
  .text-subheading {
    font-size: 1.25rem;
    font-weight: semi-bold;
    color: #444; /* Darker gray for subheadings */
  }
  
  .text-link {
    color: #0056D2;
    text-decoration: underline;
    transition: color 0.3s ease;
  } 
  
  .text-link:hover {
    color: #003A8C; 
    text-decoration: none;
  }
  
  .text-muted {
    color: #999; /* Muted color for less emphasis */
  }
  
  .text-bold {
    font-weight: bold;
  }
  
  .text-light {
    font-weight: lighter;
  }
  
  .text-italic {
    font-style: italic;
  }
  
  /* Responsive Typography */
  @media (max-width: 768px) {
    .text-heading {
      font-size: 1.75rem; /* Slightly smaller heading on mobile */
    }
  
    .text-body {
      font-size: 0.9rem; /* Smaller body text on mobile */
    }
  
    .text-subheading {
      font-size: 1.1rem; /* Smaller subheading on mobile */
    }
  }
  
  /* Additional Global Styles */
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5; /* General line height for better text readability */
    background-color: #f7f7f7; /* Light gray background for a soft look */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Sans', sans-serif; /* Use custom font for headings */
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1.5rem; /* Space out paragraphs for readability */
  }
  
  a {
    color: #0f1823;
    text-decoration: none;
  }
  
  /* a:hover {
    color: #2b394d;
    text-decoration: underline;
  } */
  
  ul, ol {
    padding-left: 1.5rem; /* Indent lists for clarity */
  }
  
  li {
    margin-bottom: 0.5rem; /* Space out list items */
  }
  

  
  
  
  input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    font-size: 1rem;
  }
  
 
  
  /* Add a box shadow to elements */
  .card, .section {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  
  /* Utility Classes */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .lowercase {
    text-transform: lowercase;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  